* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
}

/* Link styles */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

p {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 300;
}

hr {
  color: #d3dddc;
  align-content: center;
}

/* Navbar */
.main-nav {
  text-align: center;
}

.name {
  padding: 20px;
  margin: 0;
  font-size: 28px;
}

.nav-list {
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-list li {
  background-color: white;
  color: black;
  padding: 10px 15%;
  margin: 10px auto;
  display: table;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-header {
  background: #fafafa;
  padding: 1em 0;
}

header img {
  width: 70%;
  margin: 30px 10px auto;
}

.main-footer {
  text-align: center;
  background: #fafafa;
}

.caption {
  font-size: 20px;
}

/* Portfolio sections */

.portfolio-title {
  padding: 20px;
  margin: 40px;
  text-transform: uppercase;
  font-size: 15px;
}

.project img {
  width: 100%;
  margin: 30px 0 auto;
  margin-top: 0;
}

.title {
  font-weight: 400;
  font-size: 20px;
  margin: 20px 0;
}

.image-caption {
  margin: 35px 0;
}

.image-caption p {
  margin: 0 10px;
}

/* footer */

.contact {
  margin-top: 80px;
  padding: 80px 40px 40px 40px;
  font-size: 18px;
  text-transform: uppercase;
}

.main-footer p {
  margin: 0;
  padding-bottom: 20px;
  color: grey;
  font-weight: 300;
}

.main-footer h2 {
  font-size: 18px;
  font-weight: 500;
  color: black;
}

.main-footer span {
  color: grey;
  font-weight: 300;
}

.remove-margin img {
  margin-top: 0;
  padding-top: 0;
}

.student-name {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.student-name h3 {
  font-size: 14px;
}

.student-name .back-to-top {
  text-transform: uppercase;
}

.footer-flex {
  display: none;
}

@media (min-width: 768px) {
  /* Navbar */

  .nav-list {
    display: flex;
    justify-content: center;
  }

  .nav-list li {
    margin: 10px 3px;
    padding: 0 5px;
    width: 100px;
    background-color: transparent;
  }

  /* Profile picture/intro */
  .intro {
    display: flex;
    flex-direction: row-reverse;
    margin: 40px 0;
  }

  .intro img {
    margin: 0;
    width: 40%;
  }

  .intro p {
    padding-right: 20px;
    margin: 0;
    text-align: left;
    color: gray;
    font-weight: 300;
    font-size: 19px;
  }

  /* Portfolio */
  .portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project img {
    width: 96%;
  }

  .project p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 40px;
  }

  .image-caption {
    margin-top: 15px;
    margin-bottom: 50px;
  }

  /* Footer */
  .contact {
    margin-top: 15px;
    font-size: 16px;
  }

  .main-footer p {
    margin: 0 100px;
  }

  .student-name {
    display: none;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
    margin-top: 20px;
  }

  .footer-flex a {
    font-size: 14px;
    font-weight: 600;
  }

  .left-menu h3 {
    margin: 0;
  }

  .right-menu ul {
    display: flex;
    text-transform: uppercase;
  }

  .right-menu a {
    padding-left: 30px;
    /* margin: 0 10px; */
  }
}

@media (min-width: 1024px) {
  /* Navbar */
  .flex-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
  }

  .flex-nav h1 {
    padding: 0;
  }

  .nav-list li {
    font-size: 14px;
    font-weight: 600;
    /* display: flex; */
    margin: 0;
    padding: 0;
    /* width: auto; */
  }

  .nav-list a {
    padding-left: 30px;
  }

  /* Portfolio */
  .portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: column;
    flex-wrap: wrap;
  }

  .project p {
    margin: 0 15px;
  }

  /* Footer */
  .main-footer p {
    margin: 0 215px;
  }

  .contact {
    margin-bottom: 0;
  }

  .footer-flex {
    padding-bottom: 20px;
  }
}
